# Day-1 Challenge

In [4]:
a=" A quick brown fox jumps over the lazy dog  "
a

' A quick brown fox jumps over the lazy dog  '

In [5]:
type(a)

str

In [9]:
a.strip()

'A quick brown fox jumps over the lazy dog'

In [10]:
a[3:]

'quick brown fox jumps over the lazy dog  '

In [11]:
a.upper()

' A QUICK BROWN FOX JUMPS OVER THE LAZY DOG  '

In [12]:
a.lower()

' a quick brown fox jumps over the lazy dog  '

In [14]:
a.replace("dog","goat")

' A quick brown fox jumps over the lazy goat  '

# Day-2 Challenge

In [90]:
l1 = [1, 2, 3, 4, 5, 6, 7]
l2 = []

In [91]:
type(l1)

list

In [95]:
for i in l1:
    print (i*i)

1
4
9
16
25
36
49

In [100]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

In [103]:
for i in list1:
    for j in list2:
        print(i,j)

Hello  Dear
Hello  Sir
take  Dear
take  Sir

In [118]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [119]:
list1[2][2].append(7000)

In [120]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]